body,
html {
  background: #90c8c8;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #035379
}

button {
  font-size: 1.2em;
}

h2,
h3,
h4,
input {
  font-weight: normal;
  color: #31384e;
}

input[type=text] {
  position: absolute;
  top: 0;
  left: 0;
  /* hide this by setting to 100000 or something later */
}

p {
  margin-bottom: 0;
}

button {
  background: #035379;
  color: #ffffff;
  padding: 5px 20px;
  border: none;
  display: block;
  margin: 20px auto 0;
}